body{
    background-color: #0c2a47;
    text-align: center;
    margin: 0px;
}
.mainlogo{
    margin: 0 auto;
}
#heading{
    font-family: "Lucida Sans Unicode";
    margin-top: 0px;
}
.header{
    text-align: left;
    width: 1024px;
    display: inline-block;
}
.header a{
    color: white;
    font-size: 25px;
    text-decoration: none; 
    padding-left: 20px;
}
.header a:hover{
    background-color: #0c4b86;
}
.header h2{
    background-color: #1f7cd3;
    border: 1px solid white;    
    border-bottom-width: 15px ;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
}
.navBar{
    top: 150px;
    left:260px;
    position: absolute;
}
.navBar ul{
    list-style: none;
    padding: 0px;
}
.navBar ul li a{
    font-family: "Lucida Sans Unicode";
    text-decoration: none;
}
.navBar *{
    color: white;
}
.navBar ul li{
    display: inline;
    padding-left: none;
}
.img{
    float: left;
}
.mainArea #mainHeading{
    font-family: "Georgia";
    font-weight: lighter;
    font-size: 50px;
    text-align: left;
    margin-top: 15px;
    position: relative;
    left: 30px;
}
.mainArea{
    background-color: #e1effc;
    margin: auto;
    max-width: 1024px;
}
#mainHeading{
    margin-bottom: 0px;
    padding-top: 14px;
}
.descArea{
    background-color: white;
    margin: 0px 25px;
    padding-bottom: 550px;
}
.descArea ul{
    text-align: left;
    padding-left: 10px;
    list-style-type: none;
}
.descArea .navBarButtons{
    font-family: "Lucida Sans Unicode";
    padding: 10px;
    text-decoration: underline;
    border: none;
    font-size: 15px;
    color: #1c6494;
    background-color: white;
}
.descArea .navBarButtons:hover{
    color: white;
    background-color: #1c6494;
}
.descArea .navBarButtons:focus{
    color: white;
    background-color: #1c6494;
}
.descArea .content {
    font-family: "Lucida Sans Unicode";
    text-align: left;
    margin:0px 20px;
}
.descArea .content #subhead{
    font-size: 25px;
}
.descArea .content #desc1,#desc2#desc3,#desc4{
    color: #4d4d4d;
    font-size: 16px;
}
.descArea .content #selection{
    text-align: center;
}
.descArea .content select{
    font-size: 16px;
}
.descArea .content #selectiondesc{
    color: darkblue;
    text-align: center;
} 